.sysWrapper {
    display: grid;
    grid-template-columns: 290px 1fr;
    height: calc(100svh - 150px);
    width: 100%;
}

.leftPanel {
    background-color: #ffffff;
    padding: 10px;
    overflow-y: auto;
    border-right: 1px solid #ccc;
    height: 95%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    margin-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.sStore label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: var(--default-font);
    font-size: larger;
}

.sStore label p {
    margin-left: 5px;
}

.sIcon {
    color: #62DDC9;
    font-size: xx-large;
}

.sStore input {
    width: 90%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: var(--default-font);
    font-size: large;
    padding: 5px;
}

.sStore input:focus {
    border: 2px solid #d2d2d2;
    outline: none;
}

.sSelection {
    width: calc(100% - 10px);
    font-family: var(--default-font);
    margin-top: 30px;
}

.storeyList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.storeyList li {
    padding: 10px 12px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 4px;
    transition: background 0.2s;
}

.storeyList li:hover {
    background-color: #e0e0e0;
}

.storeyList li.active {
    background-color: #c3fff5;
    font-weight: bold;
    border-left: 4px solid #62DDC9;
}

.rightPanel {
    background-color: #fff;
    padding: 10px;
    overflow: auto;
    height: 95%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    margin-right: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
}

.sIcons {
    position: absolute;
    display: flex;
    width: 500px;
    flex-direction: row;
    font-family: var(--default-font);
    font-size: large;
    z-index: 10;
}

/* .diagram {
    width: 100%;
    height: 500px;
    border: 1px solid #ccc;
} */