#root {
  height: 100%;
  width: 100%;
  --default-font: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Arial, sans-serif;
  --default-color: #186A99;
}

.pageContainer {
  width: 100%;
  height: auto;
}

.mainWrapper {
  margin-left: 250px;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: var(--default-font);
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}
