.profile-page {
    display: flex;
    gap: 30px;
    padding: 0px 15px;
    /* background: #f5f7fb; */
    min-height: 100vh;
    font-family: var(--default-font);
}

/* Cột trái */
.profile-left {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Cột phải */
.profile-right {
    flex: 1;

}

/* Card chung */
.profile-card {
    background: white;
    border-radius: 14px;
    padding: 10px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

.profile-card h3 {
    margin-bottom: 20px;
    font-size: 18px;
    align-items: center;
}

/* Avatar */
.avatar-card {
    text-align: center;
}

.profile-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 12px;
}

.profile-username {
    font-size: 18px;
    font-weight: 600;
}

/* Contact */
.contact-card h3 {
    margin-bottom: 15px;
    text-align: center;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
    font-size: 15px;
    margin-left: 30px;
}

/* Form */
.profile-form-card h3 {
    margin-bottom: 20px;
    text-align: center;
  
}

.profile-form-card {
    padding:6px;
}

.profile-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 35px 0px;
    padding: 10px 30px;
}

.form-row {
    display: contents;
}

.form-row label {
    font-weight: 500;
    color: #374151;
}

.form-row input,
.form-row select {
    padding: 10px 14px;
    border-radius: 8px;
    border: none;
    background: #f3f4f6;
    font-size: 14px;
}

/* Buttons */
.btn-update {
    grid-column: 1 / -1;
    width: 150px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    /* background: #2563eb; */
    background: var(--default-color);
    color: white;
    cursor: pointer;
    margin: 0px auto 10px;
    font-family: var(--default-font);
}

.btn-update:hover {
    /* background: #1d4ed8; */
    background: #5a95de;
}   



