.statusWrapper {
    width: calc(100% - 20px);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    margin: 30px auto;
    padding: 10px 0px;
    position: relative;
}

.searchWrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 70%;
    height: 40px;
}

.searchWrapper button {
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: xx-large;
}

.searchWrapper input {
    width: 100%;
    height: 100%;
    border: none;
    font-family: var(--default-font);
    font-size: large;
}

.searchWrapper input:focus {
    border: none;
    outline: none;
}

.searchBtns {
    position: absolute;
    top: 15px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBtns button {
    margin: 0 5px;
    background-color: white;
    border: none;
    font-size: x-large;
    cursor: pointer;
    border-radius: 50%;
    width: auto;
    height: auto;
    padding: 2px 5px;
}

.searchWrapper button:hover,
.searchBtns button:hover {
    color: var(--default-color);
}
