.popupOverlay {
    position: fixed;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.closeIcon {
    position: absolute;
    z-index: 20;
    right: 10px;
    font-size: x-large;
    color: #ccc;
    cursor: pointer;
}

.closeIcon:hover {
    color: rgb(152, 0, 0);
}

.statusIcon {
    font-size: x-large;
}

.popupCard {
    position: absolute;
    width: 300px;
    background: rgb(246, 255, 237);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    border: 1px solid green;
    top: 0;
    right: 300px;
}

.popupHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    margin-right: 30px;
}

.popupSection {
    margin-bottom: 14px;
    color: #555;
}

.popupActions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btnPrimary {
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #1976d2;
    background: #fff;
    color: #1976d2;
    cursor: pointer;
}

.btnPrimary:hover {
    background: var(--default-color);
    color: white;
}

.btnWarn {
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #f57c00;
    background: #fff;
    color: #f57c00;
    cursor: pointer;
}

.btnWarn:hover {
    color: #fff;
    background: #f57c00;
}