.popupOverlay1 {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    font-family: var(--default-font);
}

.popupCard {
    width: 420px;
    background: #f9fbf7;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    border: 1px solid green;
}

.popupHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    margin-right: 30px;
}

.popupSection {
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.popupSection label {
    color: black;
    padding-bottom: 10px;
}

.popupSection input {
    width: 98%;
    font-size: large;
    padding: 5px;
}

.popupSection1 {
    display: flex;
    gap: 16px;
    margin-bottom: 14px;
    /* khoảng cách giữa 2 cột */
}

.popupSection1>div {
    flex: 1;
    /* chia đều 50% – 50% */
    display: flex;
    flex-direction: column;
}

.popupSection1 label {
    color: black;
    padding-bottom: 10px;
}

.popupSection1 input {
    width: 98%;
    font-size: large;
    padding: 5px;
}

.popupSection2 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 14px;
}

/* LABEL */
.popupSection2>label {
    padding-bottom: 10px;
}

/* RADIO GROUP */
.radioGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: large;
    
}

.radioGroup input {
    accent-color: black;
    transform: scale(1.5);
    margin-right: 10px;
    cursor: pointer;
}

/* TEXTAREA */
.popupSection2 textarea {
    min-height: 90px;
    resize: vertical;
}

.popupActions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.btnPrimary {
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #1976d2;
    background: #fff;
    color: #1976d2;
    cursor: pointer;
    width: 150px;
}

.btnCancel {
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: #fff;
    color: #585858;
    cursor: pointer;
    width: 150px;
}

.btnPrimary:hover {
    background: var(--default-color);
    color: white;
}

.btnCancel:hover {
    color: white;
    background: rgb(204, 0, 0);
    border: 1px solid red;
}